{% extends 'patientinfo.html' %}
{% load static %}
{% block css %}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">

<style>

.content{
  width: (100% - 250px);
  margin-top: 60px;
  padding: 20px;
  margin-left: 250px;
  
  background-position: center;
  background-size: cover;
  height: 200vh;
  transition: 0.5s;
}
h1
{
    color: black;
}
.Abody
{
    margin-top: 50px;
    height: 550px;
    background-color: gray;
    width: 1000px;
}
.Abody_A1
{
    
    margin-left: 20px;
    height: 400px;
    
    padding: 15px;

    
}
.label-column1
{
    margin-bottom: 10px;
    font-size: large;
}
.input-column1
{
    margin-bottom: 10px;
    font-size: large;
}
.form-control1
{
    width: 510px;
    height: 30px;
    font-size: large;
}

.label-column
{
    margin-bottom: 10px;
    font-size: large;
}
.input-column
{
    margin-bottom: 10px;
    font-size: large;
}
.form-control
{
    width: 500px;
    height: 30px;
    font-size: large;
}

</style>
{% endblock %}
{% block body_block%}
<div class="content">
    <div class="col-md-8 offset-md-2">
        <div class="Ahead">
        <h1>USER|BOOK APPOINTMENT</h1>
    </div>
    <div class="Abody">
        <div class="Abody_A1">
            <h2>BooK Appointemnt</h2>
            <form class="custom-form" method="post">
                {% csrf_token %}
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column1">
                        <label class="col-form-label" for="name-input-field">Doctor's Name & Field</label>
                    </div>
                    <div class="col-sm-6 input-column1">
                        <select class="form-control1" name="doctoremail">
                                {% for d in alldoctors %}
                                <option value="{{d.email}}">{{d.name}}----->{{d.specialization}}</option>
                                {% endfor %}
                        </select>
                    </div>
                </div>
                {% for d in alldoctors %}
                        <input type="hidden" value="{{d.name}}" name="doctorname">
                        {% endfor %}
                        <div class="form-row form-group">
                            <div class="col-sm-4 label-column"><label class="col-form-label" for="pawssword-input-field">Name</label></div>
                            <div class="col-sm-6 input-column">
                                <input class="form-control" type="text" value="{{user.first_name}}" name="patientname">
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col-sm-4 label-column"><label class="col-form-label" for="pawssword-input-field">Email</label></div>
                            <div class="col-sm-6 input-column">
                                <input class="form-control" type="text" value="{{user.email}}" name="patientemail">
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col-sm-4 label-column"><label class="col-form-label" for="repeat-pawssword-input-field">Appointment Date</label></div>
                            <div class="col-sm-6 input-column">
                                <input class="form-control" type="date" name="appointmentdate" required="">
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col-sm-4 label-column"><label class="col-form-label" for="repeat-pawssword-input-field">Appointment Time</label></div>
                            <div class="col-sm-6 input-column">
                                <input class="form-control" type="time" placeholder="enter time" name="appointmenttime" required="">
                            </div>
                        </div>
                        <div class="form-row form-group">
                            <div class="col-sm-4 label-column"><label class="col-form-label" for="repeat-pawssword-input-field">Symptoms</label></div>
                            <div class="col-sm-6 input-column">
                                <textarea class="form-control" name="symptoms" required=""></textarea>
                            </div>
                        </div>
            </form>
        </div>
    </div>
    </div>
</div>

{% ifequal error "no" %}
<script type="text/javascript">
alert('Appointment Booked Sucessfully..........')
window.location = ("{% url 'makeappointments' %}")
</script>
{% endifequal%}

{% ifequal error "yes" %}
<script type="text/javascript">
/*alert('{{e}}')*/
alert('Something gone wrong....')
</script>
{% endifequal%}
 
{% endblock %}
