{% extends 'patientinfo.html' %}
{% load static %}
{% block css %}

<style>

.content{
  width: (100% - 250px);
  margin-top: 60px;
  padding: 20px;
  margin-left: 250px;
  
  background-position: center;
  background-size: cover;
  height: 200vh;
  transition: 0.5s;
}
h1
{
    color: black;
}
.Abody
{
    margin-top: 50px;
    height: 550px;
    background-color: gray;
    width: 1000px;
}
.Abody_A1
{
    
    margin-left: 20px;
    height: 400px;
    
    padding: 15px;

    
}
.label-column1
{
    margin-bottom: 10px;
    font-size: large;
}
.input-column1
{
    margin-bottom: 10px;
    font-size: large;
}
.form-control1
{
    width: 510px;
    height: 30px;
    font-size: large;
}

.label-column
{
    margin-bottom: 10px;
    font-size: large;
}
.input-column
{
    margin-bottom: 10px;
    font-size: large;
}
.form-control
{
    width: 500px;
    height: 30px;
    font-size: large;
}


</style>
{% endblock %}
{% block body_block%}

<div class="content">
    <div class="col-md-8 offset-md-2">
        <div class="Ahead">
            <h1>USER|MY PROFILE</h1>
        </div>
        <div class="Abody">
            <div class="Abody_A1">
                <h2>My Profile</h2>
        {% for d in patient_details %}
        <form class="custom-form">
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" for="name-input-field">Name </label>
                </div>
                <div class="col-sm-6 input-column">
                    <input class="form-control" type="text" value="{{ d.name }}" readonly="">
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" for="email-input-field">Email </label>
                </div>
                <div class="col-sm-6 input-column">
                    <input class="form-control" type="email" value="{{ d.email }}" readonly="">
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" for="dropdown-input-field">Gender</label>
                </div>
                <div class="col-sm-6 input-column">
                    <input class="form-control" type="text" value="{{ d.gender }}" readonly="">
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" for="name-input-field">Phone Number</label>
                </div>
                <div class="col-sm-6 input-column">
                    <input class="form-control" type="text" value="{{ d.phonenumber }}" readonly="">
                </div>
            </div>
        
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" for="name-input-field">Blood Group</label>
                </div>
                <div class="col-sm-6 input-column">
                    <input type="text" class="form-control" value="{{ d.bloodgroup }}" readonly="">
                </div>
            </div>
        </form>
        {% endfor %}
    </div>
</div>
</div>
</div>
<div class="scroll-top-wrapper"><span class="scroll-top-inner"><i class="fa fa-arrow-circle-up"></i></span></div>

{% endblock %}
